

  /*Especificidad: 001*/
  body {
    font-family: Tahoma, sans-serif;
    color: #000000;
    background-color: #999999;/*#1f3a3d;*/
    display:flex;
    flex-flow:column ;
    flex:auto;
    }

   /*Especificidad: 001*/
  h1 {
    color: #fff;    
    background-color:#252440; 
    text-transform: uppercase;
    padding: 1em; 
    text-align: center;   
    
    border:0.5ex solid #000;  
    }

  /*Especificidad: 001*/
  h2 {   
    text-transform: uppercase;
    padding: 1em; 
    text-align: center;     
    }
  /*Especificidad: 001*/
  main{
    text-align: center;
    color: #000000;
    background-color: #999999;
    display:flex;
    flex-flow:row ;
    flex:auto;
    padding:2em;
  }
  /*Especificidad: 001*/
  nav{
    color: #fff;  
    display:flex;
    flex-flow:row ;
    flex:auto;
    border:0.5ex solid #000;
    background-color:#252440;
    justify-content: center;
  }
  /*Especificidad: 001*/
  a{
    padding:20px 100px;
    color: #fff;  
  }
  /*Especificidad: 001*/
  header{
    display:flex;
    flex-flow:column ;
    flex:auto;
  }
   /*Especificidad: 001*/
  section{
    display:flex;
    flex-flow:column ;
    flex:auto;
  }
 /*Especificidad: 001*/
  dl{
    display:flex;
    flex-flow:column ;
    flex:auto;
    border:0.5ex solid #000; 
    
  }
 /*Especificidad: 001*/
  dt{
     
    text-transform: uppercase;
    padding: 1em;   
  }
/*Especificidad: 001*/
  video{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block
  }
/*Especificidad: 001*/
  h5{
    text-align: center;
  }
/*Especificidad: 001*/
  p{
    text-align: left;
    padding: 1em;
  }
/*Especificidad: 001*/
  caption{
    
    padding: 2em;   
    text-transform: uppercase;
  }

  fieldset{
    display:flex;
    flex-flow:row ;
    flex:auto;
    
    justify-content: center;
  }




